<div class="candidate-layout">

  <!-- SIDEBAR -->
  <app-sidebar></app-sidebar>

  <!-- MAIN -->
  <div class="candidate-main">

    <!-- NAVBAR -->
    <app-navbar></app-navbar>

    <!-- PAGE -->
    <div class="candidate-page">

      <!-- HEADER -->
      <div class="page-header">

        <div>

          <h1>Candidate Management</h1>

          <p>
            Manage recruitment candidates
          </p>

        </div>

      </div>

      <!-- FORM -->
      <div class="form-card">

        <h2>Add Candidate</h2>

        <div class="candidate-form">

          <input
            type="text"
            placeholder="Candidate Name"
            [(ngModel)]="name"
          />

          <input
            type="email"
            placeholder="Email"
            [(ngModel)]="email"
          />

          <input
            type="text"
            placeholder="Skills (comma separated)"
            [(ngModel)]="skills"
          />

          <input
            type="text"
            placeholder="Experience"
            [(ngModel)]="experience"
          />

          <button
            (click)="createCandidate()"
          >
            Add Candidate
          </button>

        </div>

      </div>

      <!-- LIST -->
      <div class="candidate-list">

        <div
          class="candidate-card"
          *ngFor="
            let candidate of candidates
          "
        >

          <h3>
            {{ candidate.name }}
          </h3>

          <p>
            {{ candidate.email }}
          </p>

          <p>
            {{ candidate.experience }}
          </p>

          <div class="skills">

            <span
              *ngFor="
                let skill of candidate.skills
              "
            >
              {{ skill }}
            </span>

          </div>
          <button
            class="edit-btn"
            (click)="editCandidate(candidate)"
            >
            Edit
        </button>
          <button
            class="delete-btn"
            (click)="
              deleteCandidate(candidate._id)
            "
          >
            Delete
          </button>

        </div>

      </div>

    </div>

  </div>

</div>